<p style="color: green"><%= notice %></p>

<h1>Wikis</h1>

<div id="wikis">
  <% @wikis.each do |wiki| %>
    <%= render wiki %>
    <p>
      <%= link_to "Show this wiki", wiki %>
    </p>
  <% end %>
</div>

<%= link_to "New wiki", new_wiki_path %>
